[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[user]
	name = ObuchiYuki
	email = yukibochi1@gmail.com

[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:
[color]
	ui = true
